* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    flex-direction: column;
    display: flex;
}

div.container {
    flex: auto;
    background-color: aquamarine;

    display: flex;
    flex-direction: column;

    border: 1em maroon solid;
}

div.row_container {
    display: flex;
    flex-direction: row;

    flex: auto;
}

div.etch_a_sketch_cell {
    flex: auto;
    background-color:beige;
    border: 1px white dashed;
}